body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    

}
p{
    font-size: 30px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    margin: 100px;
    background-color: #0074D9;
    color: #ffffff;
    border: auto;
    cursor: pointer;
}